/* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  } */

.header {
    background-color: #282c34;
    height          : max-content;
    color           : white;
}

.header__top {
    display        : flex;
    justify-content: space-between;
    /* padding-top    : 72px; */
    font-size      : 24px;
    line-height    : 28px;

}

.header__phone {
    width       : 320px;
    padding-left: 40px;
    position    : relative;
    margin-left : 30px;
}

.header__phone::before {
    content         : "";
    position        : absolute;
    background-image: url("../../assets/images/header-phone-icon.svg");
    width           : 30px;
    height          : 30px;
    left            : 0;
}


.menu__list-item {
    display   : inline-block;
    margin-top: 20px;
}

.menu__list-item+.menu__list-item {
    margin-left: 52px;
}

.menu__list a:hover {
    text-decoration: underline;
}

.menu__list-img {
    height        : 30vmin;
    pointer-events: none;
    border-radius : 50%;
    left: 30px;
}

.menu__list-linkedin::before {
    content         : "";
    position        : absolute;
    width           : 30px;
    height          : 30px;
    left            : 0;
    background-image: url('../../assets/images/header-linkedin-icon.svg');
}

.menu__list-linkedin {
    padding-top : 40px;
    padding-left: 40px;
    position    : relative;
    margin-left : 0px;
}

.menu__list-github::before {
    content         : "";
    position        : absolute;
    width           : 32px;
    height          : 32px;
    left            : 0;
    background-image: url('../../assets/images/GitHub-Mark-Light-32px.png');
}

.menu__list-github {
    padding-top : 40px;
    padding-left: 40px;
    position    : relative;
    margin-left : 0px;

}

.menu__list-email {
    margin-top  : 40px;
    padding-left: 40px;
    position    : relative;
    margin-left : 280px;

}

.menu__list-email::before {
    content         : "";
    position        : absolute;
    width           : 30px;
    height          : 30px;
    left            : 0;
    background-image: url('../../assets/images/mail-icon.svg');
}

@media (max-width: 1025px) {

    /* .header {
        height: 45vh;
    } */
    .header__top {
        display        : flex;
        justify-content: center;
        padding-top    : 20px;
    }

    .menu__list-item+.menu__list-item {
        margin-left: 0; 
    }

    .menu__list-email {
        margin-left: 0;
    }

    .header__phone {
        margin-left: -20px;
    }

    .menu__list {
        padding-left: inherit;
    }

    .menu__list-item {
        display   : block;
        margin-top: 10px;
    }
}

@media (max-width: 376px) {
    .header__top {
        font-size      : 19px;
        line-height    : 25px;
    }
}

@media (max-width: 326px) {
    .header__top {
        font-size      : 16px;
        line-height    : 23px;
    }
}